$dark: #1a1a1a;




.barly-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-Barly {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark;
  transition: all .2s ease-in-out;
  padding: 15px;
  margin: 30px;
  border-radius: 20px;
}
.work-Barly-user {

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark;
  transition: all .2s ease-in-out;
  padding: 15px;
  margin: 20px;
  border-radius: 20px;
}
.user-barly {
  margin: 2%;
}


.barly-main-wrap {
  background-color: #000000;
  color: white;
  padding: 15px;
  // border-radius: 15px;
  width: 100vw;
}

.barly-sides {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.work-Barly:hover {
  transform: scale(1.1);
  background-color: $dark;
}


.barly-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-specs {
  display: flex;
  flex-direction: column;
  align-items: start;
  border-style: solid;
  border-radius: 3%;
  border-color: grey;
  border-width: 0.5px;
  padding: 3%;
}

.specs {
  display: flex;

}
